In [ ]:
import pandas as pd
import re

df = pd.read_csv('databases/house.csv')

filter1 = df[['SellerG', 'Price']].groupby(['SellerG']).sum().sort_values('Price', ascending=False).head(25)
filter1['Price'] = filter1['Price'].apply(lambda x: f'${x:,.2f}')
filter1

                           Price
SellerG
Jellis         $5,301,902,007.00
Nelson         $4,089,097,166.00
Barry          $4,022,899,061.00
Marshall       $3,337,732,138.00
hockingstuart  $3,174,822,461.00
Buxton         $3,103,258,274.00
Ray            $2,953,668,659.00
Fletchers      $1,384,291,988.00
Biggin         $1,002,291,929.00
Noel             $961,840,513.00
Woodards         $915,920,059.00
McGrath          $851,140,627.00
Hodges           $820,041,438.00
Harcourts        $785,180,159.00
Brad             $743,992,700.00
Greg             $717,565,749.00
RT               $717,163,566.00
Kay              $591,645,550.00
Miles            $569,323,888.00
Gary             $530,708,150.00
YPA              $513,150,700.00
Jas              $502,753,790.00
Stockdale        $488,813,242.00
Sweeney          $452,993,793.00
O'Brien          $393,174,561.00

: